<% if (typeof(messages) !== 'undefined') { %>

<% if (messages.error.length > 0) { %>
<div class="container-fluid tBlue">
    <br />
<div class="alert alert-danger" role="alert">
    <strong>Error!</strong> <%= messages.error %>
</div>
</div>
<% } %>
<% if (messages.info.length > 0 ) { %>
<div class="container-fluid tBlue">
    <br />
<div class="alert alert-info" role="alert">
    <strong>Yo!</strong> <%= messages.info %>
</div>
</div>
<% } } %>
