<link rel="stylesheet" href="/3p/bs/css/bootstrap.css" />
<link rel="stylesheet" href="/3p/ico/css/ionicons.css" />
<script   src="http://code.jquery.com/jquery-3.1.1.js"   integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="   crossorigin="anonymous"></script>
<script src="/3p/bs/js/bootstrap.js"></script>
<link rel="stylesheet" type="text/css" href="/css/s.css">