<!DOCTYPE html>
<html>
<head>
    <title>Contact Us - ZytherSEO</title>
    <% include bs.ejs %>
    <% include scripts.ejs %>
    <% include misc.ejs %>
</head>
<body>
<% include mainmenu.ejs %>
<div id="wrapper">
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3"><i class="ion-paper-airplane"></i> Contact Us</h1>
        <p>Contact the people who think that SEO should be super simple. </p>
    </div>
</div>
<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h2><i class="ion-email"></i> By email</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        </div>
        <div class="col-md-4">
            <h2><i class="ion-wand"></i> By phone</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        </div>
        <div class="col-md-4">
            <h2><i class="ion-pizza"></i> By mail</h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </div>
    </div>


</div>
<% include footer.ejs %>
</div>
</body>
</html>
