<!doctype html>
<html>
<head>
    <title>ZytherSEO | <%= user.local.email %></title>
    <% include bs.ejs %>
    <link rel="stylesheet" href="/css/d.css" />
    <script src="/3p/mustache.js"></script>
    <script id="sitesTemplate" type="x-tmpl-mustache">
        <div class='container ccRow'>
        <div class='row'>
        <div class='col-xs-3'><b>Name</b></div><div class='col-xs-3'>URL</div><div class='col-xs-3'>Current State</div><div class='col-xs-3'>Action</div>
        </div>
            {{#sites}}
            <div class='row'>
                <div class="col-xs-3">
                {{siteName}}
                </div>
                <div class="col-xs-3">
                    {{siteURL}}
                </div>
                <div class="col-xs-3">
                    {{currentState}}
                </div>
                <div class="col-xs-3">
                    {{#waitingToCrawl}}<button class='btn btn-sm btn-primary' disabled>Select</button>{{/waitingToCrawl}}
                    {{^waitingToCrawl}}<a class="whiteText" href='/dashboard/site/{{siteURL}}'><button class='btn btn-sm btn-primary'>Select</button></a>{{/waitingToCrawl}}
                    <button class="btn btn-sm btn-danger">Remove</button>
                </div>
            </div>
            {{/sites}}
            {{^sites}}
                <br />
                <i>No sites. Yet. Enter a URL above to add one!</i>
            {{/sites}}

        </div>
    </script>

    <script src="/js/dash.js"></script>
    <% include misc.ejs %>

</head>
<body>
<% include mainmenu.ejs %>
<div id="wrapper">
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3"><i class="ion-flag"></i> Well, you've made it this far.</h1>
        <p>(Thanks for trying my app.)</p>
        <hr />


        <label for="theURL">Enter a URL to get started.</label>
        <div class="input-group">
            <span class="input-group-addon" id="http">http://</span>
            <input type="url" class="form-control" id="theURL" placeholder="www.zyther.xyz" aria-describedby="http">
            <span class="input-group-btn">
                <button class="btn btn-secondary" type="button" id="theButton">Click Me to Crawl Site</button>
            </span>
        </div>
        <br />
        <p class="centerMe"><b>Or...</b>&nbsp;&nbsp;<button class="btn btn-sm btn-outline-primary">Import from a Service</button></p>
    </div>
</div>
<div class="container">
    <h1>Sites:</h1>
    <div id="theSites"></div>
</div>
<% include footer.ejs %>
</div>
</body>
</html>