<!doctype html>
<html>
<head>
    <title>Forgot password?</title>
    <% include bs.ejs %>
</head>
<body>
<% include mainmenu.ejs %>
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3"><i class="ion-sad-outline"></i> Forget your password?</h1><br />
        <form class="form-inline" method="post" action="">
            <div class="form-group">
                <label class="sr-only" for="email">Email address</label>
                <input type="email" class="form-control" name="email" id="email" placeholder="Enter email">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

</body>
</html>