<!-- includes -->

<!-- jQuery -->
<script   src="http://code.jquery.com/jquery-3.1.1.js"   integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="   crossorigin="anonymous"></script>


<!-- semantic -->
<link rel="stylesheet" type="text/css" href="/3p/ui/semantic.css">
<script src="/3p/ui/semantic.js"></script>

<!-- app -->
<link rel="stylesheet" type="text/css" href="/css/s.css">