<!doctype html>
<html>
<head>
    <title>Login | NodeSEO</title>
    <% include bs.ejs %>
    <script src="/js/login.js"></script>
</head>
<body>
<% include mainmenu.ejs %>
<div class="jumbotron">
    <div class="container">

        <h1 class="display-3"><i class="ion-key"></i> Log in</h1><br />
        <form class="form-inline" method="post" action="/login">
            <div class="form-group">
                <label class="sr-only" for="email">Email address</label>
                <input type="email" class="form-control" name="email" id="email" placeholder="Enter email">
            </div>
            <div class="form-group">
                <label class="sr-only" for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary">Sign in</button>
        </form><br />
        <p>Forget your password? <a href="/forgot">Click here</a> to reset it.</p>

    </div>
</div>
</body>
</html>
