<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <% if (typeof(site) === "undefined") { %>
    <a class="navbar-brand" href="/">ZytherSEO</a>
    <% } else { %>
    <a class="navbar-brand"  onclick="$('#wrapper').toggleClass('toggled');"><i class="ion-navicon-round"></i></a>
    <% } %>
    <ul class="nav navbar-nav">


        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
        </li>
        <% if (typeof(user) === 'undefined') { %>
        <li class="nav-item pull-xs-right">
            <a class="nav-link" href="/signup">Register</a>
        </li>
        <li class="nav-item pull-xs-right">
            <a class="nav-link" href="/login">Login</a>
        </li>
        <% } else { %>
        <li class="nav-item pull-xs-right">
            <a class="nav-link" href="/logout">Logout of <%= user.local.email %></a>
        </li>
        <li class="nav-item pull-xs-right">
            <a class="nav-link" href="/dashboard"><i class="ion-ios-speedometer-outline"></i> Dashboard</a>
        </li>
        <% } %>
    </ul>
</nav>
<% include alerts.ejs %>
