<div class="ui menu">
    <a class="item" href="/">Home</a>
    <div class="right menu">

        <% if (typeof(user) === 'undefined') { %>
        <a class="ui item" href="/signup"><i class="add user icon"></i> Register</a>
        <a class="ui item" href="/login"><i class="sign in icon"></i> Login</a>
        <% } else { %>
        <a class="ui item" href="/dashboard"><i class="dashboard icon"></i> Dashboard</a>
        <a class="ui item" href="/logout"><i class="sign out icon"></i> Logout of <%=user.local.email%></a>
        <% } %>
    </div>
</div>
<br />

<% if (typeof(messages) !== 'undefined') { %>
<% if (messages.error.length > 0) { %>
<div class="ui icon message">
    <i class="warning sign icon"> </i>
    <div class="content">
        <div class="header">Something Went Wrong.</div>
        <p><%= messages.error %></p>
    </div>
</div>
<% } %>
<% if (messages.info.length > 0 ) { %>
<div class="ui icon message">
    <i class="info icon"> </i>
    <div class="content">
        <div class="header">Info:</div>
        <p><%= messages.info %></p>
    </div>
</div>
<% } } %>
