<!doctype html>
<html>
<head>
    <title>Reset Password!</title>
    <% include includes.ejs %>
    <% include bs.ejs %>
    <script src="/js/reset.js"></script>
</head>
<body>
<% include mainmenu.ejs %>
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3"><i class="ion-shuffle"></i> Reset your password.</h1>
        <br />
        <form class="form-inline" method="post">
            <div class="form-group">
                <label class="sr-only" for="password">Password</label>
                <input type="password" class="form-control" name="password" id="password" placeholder="Password">
            </div>
            <div class="form-group">
                <label class="sr-only" for="passwordagain">Re-Enter Password</label>
                <input type="password" class="form-control" id="passwordagain" name="passwordagain" placeholder="Re-Enter Password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
</body>
</html>