<!-- signup.ejs -->
<!doctype html>
<html>
<head>
    <title> Signup | NodeSEO </title>
    <% include bs.ejs %>
    <script src="/js/signup.js"></script>
</head>

<body>
<% include mainmenu.ejs %>
<div id="wrapper">
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3"><i class="ion-person-add"></i> Sign Up</h1><br />
        <form class="form-inline" method="post" action="/signup">
            <div class="form-group">
                <label class="sr-only" for="email">Email address</label>
                <input type="email" class="form-control" name="email" id="email" placeholder="Enter email">
            </div>
            <div class="form-group">
                <label class="sr-only" for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary">Sign in</button>
        </form><br />
        <p>Have an account? <a href="/login">Log in.</a></p>

    </div>
</div>
    </div>
</body>
</html>