.centerMe {
    margin: 0 auto;
    display: table;
}

.col-xs-3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.row:nth-child(1){
    background-color: #fff !important;
    border-bottom: 1px solid #cecece
}
.row:nth-child(odd){
    background-color: #dcdcdc;
}

.row:nth-child(even){
    background-color: #ececec;
}

.whiteText {
    color: #fff;
}

.centerMe {
    margin: 0 auto;
    display: table;
}