<!doctype html>
<html>
<head>
    <title>Crawler</title>
    <% include ../bs.ejs %>
    <script>
        $(document).ready(function(){
            $("#siteURL").val("<%=site%>");
        });
    </script>
</head>
<body>
<% include ../mainmenu.ejs %>
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3"><i class="ion-bug"></i> Create 'o Crawler</h1>
        <form method="post">
            <div class="form-group">
                <label for="siteName">Give this site a name.<sup>(Eg: "The Website")</sup></label>
                <input type="text" name="siteName" class="form-control" id="siteName">
            </div>
            <div class="form-group">
                <label for="siteURL">URL to Crawl</label>
                <input type="url" name="siteURL" class="form-control" id="siteURL" disabled>
            </div>
            <div class="form-group">
            <% var tt = site; var tq = site.split("."); if ((tq[0]) === 'www') {tq = tq.splice(1,2).join(".");} else {tq=tt} %>
            <label class="custom-control custom-checkbox" for="filterBox">
                <input type="checkbox" class="custom-control-input" id="filterBox" checked disabled>
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Filter results to <%=tq %> <sup>(Required at this time)</sup></span>
            </label>
            </div>
            <button class="btn" type="submit">Submit</button>
        </form>
    </div>
</div>

</body>
</html>