<!doctype html>
<html>
<head>
    <title>ZytherSEO | <%= site.siteURL%></title>
    <% include ../bs.ejs %>
    <script src="/3p/mustache.js"></script>
    <link rel="stylesheet" href="/3p/bs/css/sidebar.css" />

</head>
<body>
<% include ../mainmenu.ejs %>
<div id="wrapper">
<% include site/sidebar.ejs %>
    <div id="page-content-wrapper">

    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3"><%= site.siteName %></h1>
            <p><%= site.siteURL %></p>
        </div>
    </div>
    <div class="container">
        <h2>Crawled Pages</h2>
        <% if (typeof(site.crawlResults[0].urls !== undefined)) { %>
        <div class="row">
            <div class="col-sm-6"><b>URL</b></div>
            <div class="col-sm-6"><b>Data</b></div>
        </div>
        <% var tt = site.crawlResults[0].urls; tt.forEach(function(e){ %>
        <div class="row">
            <div class="col-sm-6"><%= e %></div>
            <div class="col-sm-6">Crawled, but not audited</div>
        </div>
        <% }); } else { %>
            <h4>No URLS!</h4>
        <% } %>
    </div>
    <% include ../footer.ejs %>
    </div>
</div>
</body>
</html>