<!doctype html>
<html>
<head>
    <title>ZytherSEO Auditor | <%= site.siteURL %></title>
    <% include ../../bs.ejs %>
    <link rel="stylesheet" href="/3p/bs/css/sidebar.css" />
</head>
<body>
<% include ../../mainmenu.ejs %>
<div id="wrapper"><% include sidebar.ejs %><div id="page-content-wrapper">
<div class="jumbotron">
<div class="container">
<h1 class="display-3"><i class="ion-android-checkbox-outline"></i> Site Auditor</h1>
</div>
</div></div>
</div>
</body>
</html>