<!doctype html>
<html>
<head>
    <title>Configure <%= site.siteURL %></title>
    <% include ../../bs.ejs %>
    <link rel="stylesheet" href="/3p/bs/css/sidebar.css" />
</head>
<body>
<div id="wrapper"><% include ../../mainmenu.ejs %>
<% include sidebar.ejs %>
<div id="page-content-wrapper">

<div class="jumbotron">
<div class="container">
<h1 class="display-3"><i class="ion-wrench"></i> Configure</h1>
</div>
</div>
<div class="container">
<form>
    <div class="form-group">

    </div>
    <div class="form-group">
        <label for="keywordList">Keyword List (one per line)</label>
        <textarea class="form-control" name="keywordList" id="keywordList" rows="8"></textarea>
    </div>
</form>
</div>
</div>
</div>
</body>
</html>