<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a href="#">
                Site Menu
            </a>
        </li>
        <li>
            <a href="/dashboard/site/<%= site.siteURL %>">Site Overview</a>
        </li>
        <li>
            <a href="/dashboard/site/<%= site.siteURL %>/auditor">Site Auditor</a>
        </li>
        <li>
            <a href="#">Overview</a>
        </li>
        <li>
            <a href="#">Analyze</a>
        </li>
        <li>
            <a href="#">Schedule</a>
        </li>
        <li>
            <a href="#">Services</a>
        </li>
        <li>
            <a href="/dashboard/site/<%= site.siteURL %>/configure">Configure Site</a>
        </li>
    </ul>
</div>